<footer fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="100" fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="center start" class="content">
        <div fxFlex="1200px" fxFlex.md="800px" fxFlex.sm="600px" fxFlex.xs="400px" fxLayout="row"
            fxLayout.lt-md="row wrap" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center start"
            class="details">
            <p class="about"><strong>Zubair shah road, street 13, building 2014, sector H-13</strong><br>
                <strong>mail@example.com</strong>
            </p>
            <div fxLayout="row" fxLayoutGap="60px">
                <div (click)="onRoute('home')" aria-current="page" class="nav">Home</div>
                <div (click)="onRoute('services')" aria-current="page" class="nav">Services</div>
                <div (click)="onRoute('contact')" aria-current="page" class="nav">Contact</div>
            </div>
        </div>
    </div>
    <div fxLayoutAlign="center center" class="cr-text">Copyright © 2023 E-Tech | Powered by E-Tech</div>
</footer>