:host {

    footer {
        min-height: 400px;
        padding-top: 160px;
        background-color: #fff;

        .content {
            border-bottom: 1px solid #6a5e585a;

            .details {
                color: #534a45;
                margin-bottom: 68px;
                font-family: Poppins-Regular;

                .nav {
                    text-decoration: none;
                    cursor: pointer;
                    color: #2c2927;
                    transition: all .2s ease-in-out;
                }

                .nav:hover {
                    color: #b89d3b;
                }
            }
        }

        .cr-text {
            color: #534a45;
            font-family: Poppins-Regular;
            line-height: 80px;
        }
    }
}

/*------------------------------------------------------------------
[ Responsive ]*/


@media (max-width: 2400px) {
    .text1 {
        font-size: 13px;
    }

    .text2 {
        font-size: 17px;
    }

    .text3 {
        font-size: 36px;
    }

    .text4 {
        font-size: 52px;
    }

    .text5 {
        font-size: 68px;
    }

    .text6 {
        font-size: 96px;
    }
}

@media (max-width: 992px) {
    .text1 {
        font-size: 12px;
    }

    .text2 {
        font-size: 15px;
    }

    .text3 {
        font-size: 32px;
    }

    .text4 {
        font-size: 38px;
    }

    .text5 {
        font-size: 44px;
    }

    .text6 {
        font-size: 52px;
    }
}

@media (max-width: 768px) {
    .text1 {
        font-size: 11px;
    }

    .text2 {
        font-size: 14px;
    }

    .text3 {
        font-size: 28px;
    }

    .text4 {
        font-size: 34px;
    }

    .text5 {
        font-size: 40px;
    }

    .text6 {
        font-size: 84px;
    }
}

@media (max-width: 576px) {
    .text1 {
        font-size: 10px;
    }

    .text2 {
        font-size: 14px;
    }

    .text3 {
        font-size: 20px;
    }

    .text4 {
        font-size: 26px;
    }

    .text5 {
        font-size: 32px;
    }

    .text6 {
        font-size: 46px;
    }
}

@media (max-width: 360px) {
    .text1 {
        font-size: 8px;
    }

    .text2 {
        font-size: 10px;
    }

    .text3 {
        font-size: 16px;
    }

    .text4 {
        font-size: 20px;
    }

    .text5 {
        font-size: 26px;
    }

    .text6 {
        font-size: 32px;
    }
}