:host {

    .header {
        z-index: 1;
        height: 40px;
        font-family: Poppins-Regular;
        font-weight: 600;
        transition: all .2s linear;

        .nav-link {
            color: #fff;
            cursor: pointer;
            line-height: 40px;
            font-family: Poppins-Regular;
            font-weight: 400;
            transition: all .2s linear;
        }

        .nav-link:hover {
            color: #f3d97a;
        }

        .btn {
            background-color: #fff;
            height: 40px;
            width: 140px;
            line-height: 32px;
            border: 0px;
            font-family: Poppins-Medium;
            font-weight: 600;
            cursor: pointer;
            color: #534a45;
            transition: all .2s linear;
        }

        .btn:hover {
            background-color: #f3d97a;
        }

        .selected {
            color: #f3d97a;
        }
    }
}

/*------------------------------------------------------------------
[ Responsive ]*/


@media (max-width: 2400px) {
    .text1 {
        font-size: 13px;
    }

    .text2 {
        font-size: 17px;
    }

    .text3 {
        font-size: 36px;
    }

    .text4 {
        font-size: 52px;
    }

    .text5 {
        font-size: 68px;
    }

    .text6 {
        font-size: 96px;
    }
}

@media (max-width: 992px) {
    .text1 {
        font-size: 12px;
    }

    .text2 {
        font-size: 15px;
    }

    .text3 {
        font-size: 32px;
    }

    .text4 {
        font-size: 38px;
    }

    .text5 {
        font-size: 44px;
    }

    .text6 {
        font-size: 52px;
    }
}

@media (max-width: 768px) {
    .text1 {
        font-size: 11px;
    }

    .text2 {
        font-size: 14px;
    }

    .text3 {
        font-size: 28px;
    }

    .text4 {
        font-size: 34px;
    }

    .text5 {
        font-size: 40px;
    }

    .text6 {
        font-size: 84px;
    }
}

@media (max-width: 576px) {
    .text1 {
        font-size: 10px;
    }

    .text2 {
        font-size: 15px;
    }

    .text3 {
        font-size: 24px;
    }

    .text4 {
        font-size: 30px;
    }

    .text5 {
        font-size: 34px;
    }

    .text6 {
        font-size: 48px;
    }
}

@media (max-width: 360px) {
    .text1 {
        font-size: 10px;
    }

    .text2 {
        font-size: 12px;
    }

    .text3 {
        font-size: 17px;
    }

    .text4 {
        font-size: 21px;
    }

    .text5 {
        font-size: 26px;
    }

    .text6 {
        font-size: 36px;
    }
}