:host {

    .container {
        width: 100%;
        background-color: #f2f1e5;

        .section-1 {
            min-height: 500px;
            width: 100%;
            position: relative;

            background-image: url("/assets/images/home-bg.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            .backgroung-overlay {
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: #2c2927;
                opacity: 0.85;
                transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
            }

            .content {
                z-index: 1;
                min-height: 500px;
                height: 100%;
                width: 100%;
                padding: 40px;

                .line {
                    height: 4px;
                    background-color: #fbe8a6;
                    padding-inline: 2px;
                    margin-bottom: 20px;
                }

                .title {
                    font-size: 96px;
                    color: #fff;
                    margin: 0px;
                    margin-bottom: 80px;
                }
            }
        }

        .section-2 {
            min-height: 220px;
            padding-bottom: 32px;
            background-color: #fbe8a6;

            .title {
                line-height: 68px;
                font-size: 52px;
                margin: 0;
            }
        }

        .section-3 {

            .content {
                padding: 20px;
                padding-top: 0;
                background-color: #fbe8a6;

                .title {
                    line-height: 68px;
                    font-size: 52px;
                    margin: 0;
                    margin-top: 20px;
                }

                li {
                    color: #534a45;
                    line-height: 28px;
                    font-size: 17px;
                    font-family: Poppins-Regular;
                }
            }
        }

        .section-4 {
            background-color: #f2f1e5;
            padding-bottom: 120px;

            .title {
                line-height: 66px;
                font-size: 52px;
                color: #2c2927;
                margin: 0;
            }

            .client {
                margin-bottom: 8px;
                height: 32px;

                .logo {
                    height: 32px;
                    width: auto;
                }

                .name {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                }
            }

            .count {
                font-family: Poppins-Regular, sans-serif;
                font-weight: 600;
                font-size: 68px;
                color: #534a45;
            }

        }

        .section-5 {
            min-height: 820px;
            background-color: #2c2927;

            .content {
                margin-top: -120px;

                .requirement {
                    width: 100%;
                    height: fit-content;
                    background-color: #fbe8a6;

                    .content {
                        margin: 0;
                        padding: 40px;

                        .title {
                            margin-block: 0 36px;
                            font-size: 36px;
                        }

                        .description {
                            font-family: Poppins-Regular;
                            font-size: 16px;
                        }
                    }

                    .img {
                        height: auto;
                    }
                }

                .pick-up {
                    width: 100%;
                    color: #fff;
                    background-color: #2c2927;

                    .description {
                        font-size: 52px;
                        margin: 0;
                        line-height: 66px;
                    }

                    .details {
                        margin: 0;
                        font-family: Poppins-Regular;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}